.heroPicList {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.heroPic {
    width: 100px;
    height: 125px;
    border: black 1px solid;
    border-radius: 4px;
    margin: 5px 0 5px 0;
}

.heroPicUncovered {
    pointer-events: none;
}

.heroPicCovered {
    cursor: pointer;
}

.heroPic img {
    width: 100%;
    height: 100%;
    border-radius: 0;
}

.heroPicCovered img {
    opacity: 0 ;
}

.finishedGame {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.memoryFinishedBtns {
    display: flex;
    justify-content: space-evenly;
}

.btn_memory {
    font-size: 120%;
    height: 120%;
}