.heroPicList {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.heroPic {
    width: 100px;
    height: 125px;
    border: black 1px solid;
}

.heroPic img {
    width: 100%;
    height: 100%;
}

.heroPicCovered img {
    display: none;
}